<?xml version="1.0" encoding="utf-8"?>
<Config Version="1.17.5">
  <InspectPane>
    <Height>292</Height>
  </InspectPane>
  <Text>
    <LabelWidth>121</LabelWidth>
    <ValueWidth>63</ValueWidth>
    <ShowDecimals>False</ShowDecimals>
  </Text>
  <TutorialComplete />
  <Preset>SuperPreset</Preset>
</Config>